* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: gainsboro;
    color: royalblue;
    padding: 1rem;
    text-align: center;
}

h3,
img {
    display: inline;
}

.second {
    background-color: purple;
    color: white;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap:wrap;
    padding: 70px;
    align-items: center;
    flex-flow: column;
}

label {
    color: firebrick;
}

.buttons button {
    margin: 5px;
    
}

button {
    padding: 10px;
    padding-block: 10px;
}

button:hover {
  cursor: pointer;
  color:darkred;
  transition:1s;
}

.footer {
    background-color: darkgray;
    padding: 50px;
    text-align: center;
    
}

p {
    padding-top: 20px;
}
fieldset{
  padding:4rem;
}
